# fly.toml app configuration file generated for git-chief-editor on 2025-12-22T11:18:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'today-vibe-editor'
primary_region = 'sin' 

[build]

[mounts]
  source = "today_vibe_data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
