@tailwind base;
@tailwind components;
@tailwind utilities;

/* 修复 Radix UI 开启菜单时，固定定位 Header 的偏移问题 */
body[data-scroll-locked] header {
  margin-right: var(--removed-body-scroll-bar-size, 0px);
}

@layer base {
